#welcome {
    z-index: 1; 
    border: solid; 
    display: flex; 
    flex-direction: column; 
    border-radius: 16px; 
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}
#welcomeheader {
    width: 100%;
    display: flex; 
    align-items: center; 
    cursor: move; 
    justify-content: space-between; 
    top: 0; 
    height: 25px; 
    backdrop-filter: blur(1px);
    background-color: rgba(43, 43, 43, 0.717)
}
#welcomeopen {
    cursor: pointer; 
    background-color: rgb(92, 217, 85); 
    border-radius: 100px; 
    width: 15px; 
    height: 15px; 
    border: solid; 
    border-color: rgb(101, 173, 98); 
    border-width: 3px; 
    margin-left: 6px;
}
#welcomeclose {
    cursor: pointer; 
    background-color: rgb(217, 85, 85); 
    border-radius: 100px; 
    width: 15px; 
    height: 15px; 
    border: solid; 
    border-color: rgb(175, 67, 67); 
    border-width: 3px; 
    margin-right: 6px;
}

.text {
    
    font-weight: bold;
    color: white; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#welcomeText {
    margin: 0 8px; 
}
#welcomeBox {
    padding: 15px;
    backdrop-filter: blur(10px); 
    background-color: rgba(255, 255, 255, 0.717);
}
.selected {
    border: dashed; 
}
#aboutMe {
    z-index: 0;
    border: solid; 
    display: flex; 
    flex-direction: column; 
    border-radius: 16px; 
    position: absolute; 
    top: 5%; 
    left: 10%;
    overflow: hidden;
    position: absolute;
}
#aboutMeheader {
    width: 100%;
    display: flex; 
    align-items: center; 
    cursor: move; 
    justify-content: space-between; 
    top: 0; 
    height: 25px; 
    backdrop-filter: blur(1px);
    background-color: rgba(43, 43, 43, 0.717)
} 
#aboutMeBox {
    padding: 15px;
    backdrop-filter: blur(10px); 
    background-color: rgba(255, 255, 255, 0.717);
}
#aboutMeopen {
    cursor: pointer; 
    background-color: rgb(92, 217, 85); 
    border-radius: 100px; 
    width: 15px; 
    height: 15px; 
    border: solid; 
    border-color: rgb(101, 173, 98); 
    border-width: 3px; 
    margin-left: 6px;
}
#aboutMeclose {
    cursor: pointer; 
    background-color: rgb(217, 85, 85); 
    border-radius: 100px; 
    width: 15px; 
    height: 15px; 
    border: solid; 
    border-color: rgb(175, 67, 67); 
    border-width: 3px; 
    margin-right: 6px;
}   